@import url('https://fonts.googleapis.com/css2?family=Anton&family=Protest+Strike&display=swap');

/* Asterisk wildcard selector to override default browser settings*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General Styles */

h1 {
    text-align: center;
    text-decoration: underline;
}

h2 {
    text-align: center;
}
body {
    min-height: 100vh;
    display:flex;
    flex-direction: column;


    /* Generic page styles */

    color: rgb (121, 120, 120);
    font-family: "Protest Strike", sans-serif;
    font-weight: 400;
    font-style: normal;
   }
    
   
      h1, h2, h3 {
        font-family: 'Anton', sans-serif;
        color:rgb(121, 120, 120);
        text-transform:uppercase;
        letter-spacing: 3px;
    
    }
/* Header */

header {
    background-color: rgb(255, 255, 255);
    padding: 0 0.5rem;
    position:fixed;
    z-index:99;
    width:100%;
    box-shadow: 0 2px 4px rgb(121, 120, 120) ;
    display:flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: inherit;
}



#menu {
    font-size: 120%;
    letter-spacing: 2px;
    list-style-type: none;
    font-style: oblique;
}

#menu > li {
    margin-bottom: 1em;
}

.active {
    border-bottom: 1px solid rgb(121, 120, 120);
}

/* Navbar styles with dropdown toggle */
nav {
    position: absolute;
    background-color: rgb(255, 255, 255);
    width:100%;
    left: 0;
    padding: 0 2rem;
    box-shadow: 0 2px 4px rgb(121, 120, 120);
    display:none;
    top:100%;
}

/*Nav toggle*/

#nav-toggle:checked~nav {
    display:block;
}

#nav-toggle {
    display:none;
}

.nav-toggle-label {
    font-size: 2rem;
}
/* Main Content*/

main {
    
    /* Make main element push footer down */
    
    flex: 1 0 auto;
    margin-top:47px;
}

/* Hero section*/

#hero {
    
    background: url(../images/pexels-pixabay-159711.jpg)
    no-repeat center center/cover;
    background-size:cover;
    background-position: center;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cover-text {
    background-color: rgba(42, 133, 113, 0.829);
    font-size:100%;
    font-style: oblique;
    position:absolute;
    top:25%;
    left:50%;
    transform: translate(-50%, -50%);
    width:80%;
    min-height:10rem;
    padding: 40px;
    text-align: center;
}

#cover-text > h2, #cover-text > h3 {
    color: rgb(255, 255, 255);
}

#about-us{
        background-color: darkorange;
        min-height:10rem;
}




@media screen and (min-width:768px) {
    /* Header */
    nav {display: block;
         position: relative;
         box-shadow: none;
         width:fit-content;
         padding-right:1rem;
 }

#menu {
display:flex;
}
#menu > li {
padding-left: 1rem;
}

.nav-toggle-label {
display:none;
}

#logo {
font-size:200%;
line-height: 75px;
margin: 0 0.5rem;
}
/* Main content */

main {
/*push main content down to accomodate larger header */
margin-top: 79px;
}
}
/*services section images and layout*/


.read-with-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: aquamarine;
    margin-bottom: 20px;
}

.children-reading {
    max-width: 300px;
    height:auto;
}

.read-with-me-text {
    flex:1;
    margin-left: 0;
    text-align: center;
}
.computer-classes {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-bottom: 20px;
}

.older-person-using-pc {
    max-width: 300px;
    height:auto;
}

.computer-classes-text {
    flex: 1;
    margin-left: 0;
    text-align: center;
}

.public-computers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-bottom: 20px;
}

.desktop-computers {
    max-width: 300px;
    height:auto;
}

.public-computers-text {
    flex: 1;
    margin-left: 0;
    text-align: center;
}

.physical-media{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-bottom: 20px;
}
.physical-media-collection{
    max-width: 300px;
    height:auto;
}
.DVD-collection {
    flex:1;
    margin-left: 0;
    text-align: center;
}

.board-game-nights{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-bottom: 20px;
}

.board-games{
    max-width: 300px;
    height:auto;
}

.board-games-text{
    flex:1;
    margin-left: 0;
    text-align: center;
}

.genealogy-service {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: brown;
    margin-bottom: 20px;
}

.family-tree {
    max-width: 300px;
    height:auto;
}

.genealogy-service-text {
    flex:1;
    margin-left: 0;
    text-align: center;
}


th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
/* Footer */

footer {
    background-color: rgb(252, 252, 252);
}

#social-networks {
    color: rgb(121, 120, 120) ;
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content:space-evenly;
    list-style-type: none;
}

#social-networks i {

    font-size: 160%;
    padding: 5%;
    color:rgb(65, 3, 165);
}
/* Media query: tablets and larger (768px and up) */

@media screen and (min-width:768px) {
           /* Header */
           nav {display: block;
                position: relative;
                box-shadow: none;
                width:fit-content;
                padding-right:1rem;
        }

#menu {
    display:flex;
}
#menu > li {
     padding-left: 1rem;
    }

.nav-toggle-label {
    display:none;
}

#logo {
    font-size:200%;
    line-height: 75px;
    margin: 0 0.5rem;
}
/* Main content */

main {
    /*push main content down to accomodate larger header */
    margin-top: 79px;
}
}

/* Large devices (laptops and desktops, 992px and up) */

@media screen and (min-width:900px) {
    #menu a:hover {
        border-bottom: 1px solid rgb(121, 120, 120);
    }
}

@media only screen and (max-width: 600px) {
   
    .children-reading {
       width: 600px;
    }

    .read-with-me-text {
        margin-left: 0;
        flex:100%;
    }

    .read-with-me {
        margin-bottom: 10px;
    }
    
    .older-person-using-pc{
        width:100%;
        order:2;
    }
        
    .computer-classes-text{
        margin-left: 0;
        flex:100%;
    }

    .desktop-computers {
        width:100%;
        order:2;
    }
    
    .public-computers-text {
        margin-left: 0;
        flex:100%;
    }

    .physical-media-collection {
        width:100%;
        order:2;
    }

    .DVD-collection {
        margin-left: 0;
        flex:100%;
    }

    .board-games {
        width:100%;
        order:2;
    }

    .board-games-text {
        margin-left: 0;
        flex:100%;
    }

    .family-tree {
        width:100%;
        order:2;
    }
    
    .genealogy-service-text {
        margin-left: 0;
        flex:100%;
    }


}
@media only screen and (min-width: 601px) {
   
    .read-with-me {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .children-reading {
        margin-bottom:0;
        margin-right:20px;
    }

    .read-with-me-text {
        text-align: left;
    }

    .computer-classes {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .older-person-using-pc{
        margin-bottom:0;
        margin-right:20px;
    }
        
    .computer-classes-text{
        text-align: left;
    }
   
    .public-computers {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    
    .desktop-computers {
        margin-bottom:0;
        margin-right:20px;
    }
    
    .public-computers-text {
        text-align: left;
    }
    
    .physical-media {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .physical-media-collection {
        margin-bottom:0;
        margin-right:20px;
    }

    .DVD-collection {
        text-align: left;
    }
    .board-game-nights {
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .board-games {
        margin-bottom:0;
        margin-right:20px;
    }

    .board-games-text {
        text-align: left;
    }
    .genealogy-service{
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .family-tree {
        margin-bottom:0;
        margin-right:20px;
    }
    
    .genealogy-service-text {
        text-align: left;
    }


}